<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<style>

    *{
        padding: 15px;
    }
    
    
</style>
<form  class="addcontact" action="/addcontact" method="POST">
    <h1>Add books</h1>
    Name:<input style="height: 5px;" type="text" name="Name" /><br/><br/><br/>
    author:<input style="height: 5px;" type="text" name="author" /><br/><br/><br/>
    <input style="width: 80px; border-radius: 10px;background-color: orange; border: solid orange; position: relative; left: 10px;"type="submit" value="add" />
</form>

</body>
</html>