*{
   text-align: center;
   padding: 5px;
   margin-left: auto;
    margin-right: auto;
}

table{
    
    margin-left: auto;
    margin-right: auto;
}
h1{
    color: rgb(255, 123, 0);
}
.addcontact{
    padding: 10px;
    border: 2px solid black;
    width: 40%;

}